.admin-layout {
  margin-top: 0px;
  display: flex;
  height: 93%;
  margin-bottom: 0px;
}

/* Sidebar columna */
.admin-sidebar {
  width: 220px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

/* Cada "celda" del menú */
.admin-cell {
  padding: 15px;
  color: white;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background 0.2s;
}

.admin-cell:hover {
  background-color: #333;
}

/* contenido */
.admin-content {
  flex: 1;
  padding: 20px;
  background-color: aliceblue;
}

